 body {
  background-color: #ebd5d5;
  color: #bb5a5a;
}

hr {
  border-style: none;
  border-color: #685454;
  border-top-style: dotted;
  width: 5%;
  border-width: 10px;
}

h1,h3{
  color: #685454;
}
